* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none; /** styled in NORMALIZE.CSS **/
  text-decoration: none;
  color: #ccc;
}

html {
  scroll-behavior: smooth;
}

/* MY COLORS */
:root {
  --secondary-color: white;
  --secondary-color: #2477BF;
  --tertiary-color: black;
  --foam: #91C4D9;
}

/* BACKGROUND VIDEO STYLES */
#myVideo {
  filter: brightness(40%);
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

/* BODY STYLES */
body {
  font-family: "Prompt", sans-serif;
}

/* NAVIGATION STYLES */

/* .topnav {
  display: none;
} */

.wrapper header {
  display: none;
}

.desktop-nav {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  z-index: 999;
}

.desktop-nav h1 {
  font-weight: lighter;
  font-size: 36px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.desktop-nav h1 a {
  color: white;
}

.desktop-nav h1 a:hover {
  color: var(--foam);
}

.desktop-nav a {
  text-decoration: none;
  color: white;
}

.desktop-nav nav {
  margin: 7px 0;
}

.desktop-nav nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.desktop-nav nav ul li a {
  padding: 10px 15px;
  font-size: 1.55vw;
  font-weight: 200;
}

.desktop-nav nav ul li a:hover {
  color: var(--foam);
}

/* HERO STYLES */
.hero-div {
  color: white;
  margin: 160px 0px 300px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-child {
  justify-content: flex-start;
  width: 60%;
}

.hero-child a {
  text-decoration: none;
}

.hero-child h2:nth-child(1) {
  font-weight: 100;
  font-size: 30px;
}

.hero-child h2:nth-child(2) {
  font-weight: 200;
  font-size: 35px;
}

/* PROJECT STYLES */
.parent-project-container {
  width: 100%;
  padding: 100px 15px 150px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background: linear-gradient(180deg, rgba(36, 119, 191, 0.7) 0%, rgba(0, 0, 0, 0.5) 0%, rgba(36, 119, 191, 0.7) 100%);
}

.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px;
  align-items: flex-start;
}

.project-image {
  width: 50%;
}

.project-image img {
  width: 60%;
}

.project-text {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.project-text h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 2%;
}

.project-text h3 em {
  font-weight: 100;
}

.project-text p {
  font-size: 25px;
  font-weight: 300;
}

.project-text span {
  font-weight: 100;
}

.project-text a {
  text-decoration: none;
}

/* FOOTER STYLES */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
  width: 100%;
  color: white;
  border: 5px solid white;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  background: rgba(36, 119, 191, 0.7);
}

.left-foot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 25px;
}

.left-foot p:nth-child(1) {
  font-weight: bold;
}

.right-foot {
  display: flex;
  align-items: flex-end;
}

.right-foot i {
  color: white;
}

.right-foot i:hover {
  color: var(--foam);
  transition-delay: 0.1s;
}

/* BUTTON STYLES */
.draw-border {
  box-shadow: inset 0 0 0 5px #91C4D9;
  color: #91C4D9;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 5px;
  border-left-width: 5px;
}
.draw-border::after {
  border-top-width: 5px;
  border-right-width: 5px;
}
.draw-border:hover {
  color: #2477BF;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #2477BF;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: bold 1.6rem "Prompt", sans-serif;
  padding: 1em 2em;
  margin-top: 2%;
  width: 100%;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #91C4D9;
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.draw-border-2 {
  box-shadow: inset 0 0 0 5px #2477BF;
  color: #2477BF;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border-2::before, .draw-border-2::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border-2::before {
  border-bottom-width: 5px;
  border-left-width: 5px;
}
.draw-border-2::after {
  border-top-width: 5px;
  border-right-width: 5px;
}
.draw-border-2:hover {
  color: #91C4D9;
}
.draw-border-2:hover::before, .draw-border-2:hover::after {
  border-color: #91C4D9;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border-2:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border-2:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn-2 {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: bold 1.6rem "Prompt", sans-serif;
  padding: 1em 2em;
  margin-top: 2%;
  width: 100%;
  letter-spacing: 0.05rem;
}
.btn-2:focus {
  outline: 2px dotted #91C4D9;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    
  }

  body .hero-div {
    color: white;
    margin: 80px 0px 300px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .hero-child {
    justify-content: flex-start;
    width: 80%;
  }
  body .hero-child a {
    text-decoration: none;
  }
  body .hero-child h2:nth-child(1) {
    font-weight: 100;
    font-size: 20px;
  }
  body .hero-child h2:nth-child(2) {
    font-weight: 200;
    font-size: 25px;
  }
  body .btn, body .btn-2, body .draw-border, body .draw-border-2 {
    font-size: 15px;
  }
  body .parent-project-container {
    width: 100%;
    padding: 50px 15px 150px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: none;
  }
  body .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
  }
  body .project-image {
    width: 100%;
    text-align: center;
  }
  body .project-image img {
    width: 50%;
  }
  body .project-text {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }
  body .project-text h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  body .project-text p {
    font-size: 15px;
  }
  
  /* FOOTER STYLES - MOBILE */
  body footer {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: none;
  }

  body .right-foot a i {
    margin-top: 10px;
  }

  /* MOBILE NAV STYLES */

  body .desktop-nav {
    display: none;
  }

  .wrapper header {
    display: contents;
  }

  .wrapper{
    max-width: 96.87em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    padding-top: 2em;
  }

  .masthead{
      align-items: baseline;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5em;
  }

  .masthead h1{
      font-weight: lighter;
      font-size: 1.5em;
  }

  .main-header a{
      font-family: 'Prompt', 'Sans Serif';
      letter-spacing: 3px;
      margin-left: 15px;
  }

  .main-header a:hover,
  .active{
      color: #91C4D9;
  }

  .burger{
      cursor: pointer;
      display: block;
      width: 30px;
      margin-right: 15px;
  }

  .burger div{
      background-color: #91C4D9;
      border-radius: 25px;
      box-shadow: 1px .4px 10px rgba(0,0,0,.4);
      height: 3px;
      transition-duration: .25s;
      transition-timing-function: cubic-bezier(.6,.13,.32,1.46);
  }

  .burger .one,
  .burger .two{
      margin-bottom: 8px;
  }

  .main-nav-list{
      z-index: 999;
      background-color: #2477BF;
      position: fixed;
      width: 100%;
      padding: 4%;
      transition-property: transform;
      transform: scale(1,0);
      transform-origin: top;
      transition-duration: .25s;
      transition-timing-function: cubic-bezier(.6,.13,.32,1.46);  
  }

  .main-nav-list a{
      display: block;
      font-size: 1.2em;
      margin-bottom: 8px;
      transition-property: opacity;
      opacity: 0;
      transition-duration: .15s;
  }


  .main-contents{
      flex: auto;
  }

  .main-contents h2,
  p{
      margin-bottom: 1em;
  }

  .main-contents p{
      font-size: 1.2em;
  }

  .main-contents em{
      font-weight: 100;
  }

  .main-contents a{
      color: rgb(170, 253, 230);
  }

  .main-footer{
      font-size: .9em;
      letter-spacing: 3px;
      margin-bottom: 1.5em;
      text-align: center;
      text-transform: uppercase;
  }

  .menu-toggle{
      display: none;
  }


  #input__menu-toggle:checked ~ .masthead .burger .one{
      box-shadow: 1px .4px 10px rgba(0,0,0,.25);
      transform-origin: left;
      transform: translate(15%, -5px) rotate(45deg);
  }

  #input__menu-toggle:checked ~ .masthead .burger .two{
      background-color: transparent;
      box-shadow: none;
  }

  #input__menu-toggle:checked ~ .masthead .burger .three{
      box-shadow: 1px .4px 10px rgba(0,0,0,.25);
      transform-origin: left;
      transform: translate(14%, 2px) rotate(-45deg); 
  }

  #input__menu-toggle:checked ~.main-nav-list{
  /*      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14); */
      transform:scale(1,1);
  }


  #input__menu-toggle:checked ~ .main-nav-list a{
      transition-property: opacity;
      opacity: 1;
      transition-delay: .2s;
      transition-duration: .1s;
  }

  /* body header {
    display: none;
  }

  body .topnav {
    display: contents;
    overflow: hidden;
    position: relative;
  }
  
  body .topnav #myLinks {
    display: none;
  }

  body #myLinks a {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }
  
  body .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: lighter;
    display: block;
  }
  
  body .topnav a.icon {
    background: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  body .topnav a:hover {
    background-color: none;
    color: white;
  }
  
  body .active {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  } */
  
}/*# sourceMappingURL=style.css.map */