* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  /* MY COLORS */
  :root {
    --secondary-color: white;
    --secondary-color: #2477BF;
    --tertiary-color: black;
    --foam: #91C4D9;
  }

  /* BACKGROUND VIDEO STYLES */
  #myVideo {
    filter: brightness(40%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }

  /* BODY STYLES */
  body {
    font-family: 'Prompt', sans-serif;
  }

  /* NAVIGATION STYLES */
  header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 999;
  }
  
  header h1 {
    font-weight: lighter;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header h1 a {
    color: white;
  }

  header h1 a:hover {
    color: var(--foam);
  }
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    font-weight: 200;
  }

  header nav ul li a:hover {
    color: var(--foam);
  }

  /* HERO STYLES */
  .hero-div {
    color: white;
    margin: 160px 0px 300px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-child {
    justify-content: flex-start;
    width: 60%;
  }

  .hero-child a {
    text-decoration: none;
  }

  .hero-child h2:nth-child(1) {
    font-weight: 100;
    font-size: 30px;
  }

  .hero-child h2:nth-child(2) {
    font-weight: 200;
    font-size: 35px;
  }

  /* PROJECT STYLES */
  .parent-project-container {
    width: 100%;
    padding: 100px 15px 150px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background: linear-gradient(180deg, rgba(36,119,191,0.7) 0%, rgba(0,0,0,0.5) 0%, rgba(36,119,191,0.7) 100%);
  }

  .project {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px;
    align-items: flex-start;
  }

  .project-image {
    width: 50%;
  }

  .project-image img {
    width: 60%;
  }

  .project-text {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }

  .project-text h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 2%;
  }

  .project-text h3 em {
    font-weight: 100;
  }

  .project-text p {
    font-size: 25px;
    font-weight: 300;
  }

  .project-text span {
    font-weight: 100;
  }

  .project-text a {
    text-decoration: none;
  }

  /* FOOTER STYLES */

  footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    width: 100%;
    color: white;
    border: 5px solid white;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background: rgba(36,119,191,0.7);
  }

  .left-foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
  }

  .left-foot p:nth-child(1) {
    font-weight: bold;
  }

  .right-foot {
    display: flex;
    align-items: flex-end;
  }

  .right-foot i {
    color: white;
  }

  .right-foot i:hover {
    color: var(--foam);
    transition-delay: 0.1s;
  }

  /* BUTTON STYLES */
// BORDER FILL IN BUTTON STYLING
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;
    
    &::before,
    &::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position: absolute;
      width: 0; height: 0;
      
      #{$vertical}: 0; 
      #{$horizontal}: 0;
    }
  
    &::before {
      $h-side: if($horizontal == 'left', 'right', 'left');
      
      border-#{$vertical}-width: $width;
      border-#{$h-side}-width: $width;
    }
    
    &::after {
      $v-side: if($vertical == 'top', 'bottom', 'top');
      
      border-#{$v-side}-width: $width;
      border-#{$horizontal}-width: $width;
    }
    
    &:hover {
      color: $hover;
      
      &::before,
      &::after {
        border-color: $hover;
        transition: border-color 0s, width $duration, height $duration;
        width: 100%;
        height: 100%;
      }
      
      &::before { transition-delay: 0s, 0s, $duration; }
      
      &::after { transition-delay: 0s, $duration, 0s; }
    }
  }
  
  .draw-border {
    @include btn-border-drawing(#91C4D9, #2477BF, 5px, bottom, right);
  }
  
  //=== Button styling, semi-ignore
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: bold 1.6rem 'Prompt', sans-serif;
    padding: 1em 2em;
    margin-top: 2%;
    width: 100%;
    letter-spacing: 0.05rem;
    
    &:focus { outline: 2px dotted #91C4D9; }
  }

  // Animate the size, inside
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

// Animate the size, outside
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

// Stack multiple shadows, one from the left, the other from the right
.close:hover,
.close:focus {
  box-shadow: 
    inset -3.5em 0 0 0 var(--hover),
    inset 3.5em 0 0 0 var(--hover);  
}

// Size can also be negative; see how it's smaller than the element
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

// Animating from the bottom
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

// And from the left
.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

// Multiple shadows, one on the outside, another on the inside
.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}

// BORDER FILL IN BUTTON STYLING FOR BTN 2
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;
    
    &::before,
    &::after {
      border: 0 solid transparent;
      box-sizing: border-box;
      content: '';
      pointer-events: none;
      position: absolute;
      width: 0; height: 0;
      
      #{$vertical}: 0; 
      #{$horizontal}: 0;
    }
  
    &::before {
      $h-side: if($horizontal == 'left', 'right', 'left');
      
      border-#{$vertical}-width: $width;
      border-#{$h-side}-width: $width;
    }
    
    &::after {
      $v-side: if($vertical == 'top', 'bottom', 'top');
      
      border-#{$v-side}-width: $width;
      border-#{$horizontal}-width: $width;
    }
    
    &:hover {
      color: $hover;
      
      &::before,
      &::after {
        border-color: $hover;
        transition: border-color 0s, width $duration, height $duration;
        width: 100%;
        height: 100%;
      }
      
      &::before { transition-delay: 0s, 0s, $duration; }
      
      &::after { transition-delay: 0s, $duration, 0s; }
    }
  }
  
  .draw-border-2 {
    @include btn-border-drawing(#2477BF, #91C4D9, 5px, bottom, right);
  }
  
  //=== Button styling, semi-ignore
  .btn-2 {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: bold 1.6rem 'Prompt', sans-serif;
    padding: 1em 2em;
    margin-top: 2%;
    width: 100%;
    letter-spacing: 0.05rem;
    
    &:focus { outline: 2px dotted #91C4D9; }
  }

//   MOBILE MEDIA QUERIES
  @media only screen and (min-width: 320px) and (max-width: 480px){

    body {
        /* HERO STYLES */
        .hero-div {
            color: white;
            margin: 80px 0px 200px 0px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hero-child {
            justify-content: flex-start;
            width: 80%;
        }

        .hero-child a {
            text-decoration: none;
        }

        .hero-child h2:nth-child(1) {
            font-weight: 100;
            font-size: 20px;
        }

        .hero-child h2:nth-child(2) {
            font-weight: 200;
            font-size: 25px;
        }

        .btn, .btn-2, .draw-border, .draw-border-2 {
            font-size: 15px;
        }

    }

  }